<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Gonvey</title>
  <script src="/public/components/webcomponentsjs/webcomponents.min.js"></script>
  <link rel="import" href="/public/components/polymer/polymer.html">
  <link rel="import" href="/public/components/core-elements/core-elements.html">
</head>

<body>
  <core-scaffold>

    <core-header-panel navigation flex mode="seamed">
      <core-toolbar style="background-color: #526E9C; color: #fff;">Application</core-toolbar>
      <core-menu>
        <core-item icon="settings" label="item1"></core-item>
        <core-item icon="settings" label="item2"></core-item>
      </core-menu>
    </core-header-panel>

    <div tool>Title</div>

    <div class="content">Content goes here...</div>

  </core-scaffold>
</body>

</html>
