<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Gonvey</title>
  <script src="/public/components/webcomponentsjs/webcomponents.min.js"></script>
  <link rel="import" href="/public/components/polymer/polymer.html">
  <link rel="import" href="/public/components/core-elements/core-elements.html">
  <link rel="import" href="/public/components/paper-elements/paper-elements.html">
  <link rel="import" href="/public/elements/elements.html">

</head>

<body unresolve>
  <template is="auto-binding">
    <style>
      paper-input-decolator {
        max-width: 100%;
      }
    </style>
    <core-scaffold>

      <paper-header-panel navigation flex mode="seamed">
        <core-toolbar style="background-color: #526E9C; color: #fff;">Application</core-toolbar>
        <core-menu>
          <paper-item icon="settings" label="item1"></paper-item>
          <paper-item icon="settings" label="item2"></paper-item>
        </core-menu>
      </paper-header-panel>

      <div tool layout horizontal flex center>
        <span flex>Gonvey</span>
        <section on-tap="{{toggleDialog}}">
          <paper-button>signup</paper-button>
          <signup-dialog></signup-dialog>
        </section>
      </div>

      <div class="content">Content goes here...</div>

    </core-scaffold>
  </template>
  <script>
    var template = document.querySelector('template');
    template.toggleDialog = function(e) {
      if (e.target.localName != 'paper-button') {
        return;
      }
      var d = e.target.nextElementSibling;
      if (!d) {
        return;
      }
      d.toggle();
    };
  </script>
</body>

</html>
